MPESA_CONSUMER_KEY=
MPESA_CONSUMER_SECRET=
MPESA_SHORTCODE=8049446
MPESA_PASSKEY=
MPESA_CALLBACK_URL=https://YOUR-BACKEND.onrender.com/api/mpesa/callback
MPESA_ENV=production
MPESA_TRANSACTION_TYPE=CustomerBuyGoodsOnline
PORT=3000
